body {
    font-family: Roboto, sans-serif;
}

.section-1, .footer {
    background-color: #1f2947;
}

.section-3 {
    background-color: #e5e7eb;
}

ul li a {
    text-decoration: none;
}

ul li {
    list-style-type: none;
}

ul li a, ul li, .hero-subtext {
    color: #e5e7eb;
    font-size: 18px;
}

.header-logo {
    font-size: 24px;
    color: #f9faf8;
}

.hero-text {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
}

button, .section-4 .container {
    background-color: #3882f6;
    color: #fff;
}

.info, .quote {
    font-size: 36px;
    color: #1f2937;
}

.info {
    font-weight: 800;
}

.quote {
    font-weight: 300;
    font-style: italic;
}

.footer {
    color: #fff;
}