body {
    font-family: Roboto, sans-serif;
    margin: 0;
}

.section-1, .footer {
    background-color: #1f2947;
}

.section-3 {
    background-color: #e5e7eb;
}

ul li a {
    text-decoration: none;
}

ul li {
    list-style-type: none;
}

ul li a, .hero-subtext {
    color: #e5e7eb;
    font-size: 18px;
}

.header-logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 800;
}

.hero-text {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
}

button, .section-4 .container {
    background-color: #3882f6;
    color: #fff;
}

.info, .quote {
    font-size: 36px;
    color: #1f2937;
}

.info {
    font-weight: 800;
}

.quote {
    font-weight: 300;
    font-style: italic;
}

.footer {
    color: #fff;
}

/* section-1 layout */

.section-1 {
    display: flex;
    flex-direction: column;
    padding: 12px 100px 35px;
    height: 350px;
}

.header {
    display: flex;
    align-items: center;
    margin-bottom: 65px;
}

ul {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 20px;
    margin-left: auto;
}

.hero-content {
    display: flex;
    gap: 16px;
}

.non-img {
    flex: 1;
}

.placeholder {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
    color: #e5e7eb;
}

button {
    border-radius: 8px;
    border: none;
    padding: 7px 28px;
    font-size: 18px;
    margin-top: 8px; 
}

.section-4 button {
    border: 2px solid white;
}

.info {
    text-align: center;
    margin: 24px;
}

/* section-2 layout */

.img-container {
    display: flex;
    justify-content: center;
    gap: 48px;
    margin: 24px;
    height: 300px;
}

.img-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 185px;
}

.img-holder {
    border: 4px solid #3882f6;
    border-radius: 16px;
    height: 180px;
    width: 180px;
}

.img-text {
    text-align: center;
}

/* section-3 layout */

.section-3 {
    padding: 50px 90px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.thor {
    font-weight: 800;
    text-align: right;
    padding-right: 50px;
    font-size: 20px;
}

/* section-4 layout */

.section-4 {
    height: 220px;
}

/* footer layout */

.footer {
    height: 80px;
}